/* CSS files add styling rules to your content */

body {

  margin: 4px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  size: 2rem;
}

p{
  font-family: 'Lato', sans-serif;
}

table{
  table-layout: fixed;
  width:100%;
  background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?v=1527763317245),
    url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fnoise.png?v=1527763328062);
  border:2px solid #800080;
  border-collapse:collapse;
}

thead, tfoot {
  color:white;
   background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  font-family:Rock Salt;
}
.col {
  font-family: 'Lato', sans-serif;
}

tbody {
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  text-align: center;
  border:2px solid #800080;
}

tbody tr {
  height: 50px;
  border: 1px solid #800080;
}

tbody> tr:nth-child(even){
  background-color: #e495e4;
}

tbody> tr:nth-child(odd){
  background-color:#ff33cc;
}

.table-descriptor {
  text-align: right;
  font-family: 'Rock Salt', cursive;
}